


$bet: #ff7f2aff;
$threebet: purple;
$fourbet:#ff0066ff;
$fivebet:darkred;
$flat:#aaccffff;
$flat3bet: purple;
$flat4bet:#ff0066ff;
$flat5bet: darkred;
$allin:red;
$limp:red;
$limpreraise:red;
$limp-fold:red;
$raisefold:red;


$pair: #CCC;
$offsuit: #999;
$suited: #666;

/* FIXME not here*/
.hidden {
	visibility: hidden;
}

.visible { visibility: visible }

/* end to move */

.pannel #action  .disable {
	display:none;
}

#range_manager {
	box-shadow: 0 19px 38px gray, 0 15px 12px gray;
}

#range_manager td {
	text-align:center;
	color: #FFF;
	padding:.3em;
	font-weight:bold;
}

/* couleurs des cartes non selectionné par type */
.pair {
	background-color: $pair;
}

.suited {
	background-color: $suited;
}

.offsuit {
	background-color: $offsuit;
}


/************************************** 
	Couleurs des actions sur les cartes 
***************************************/

.bet {
	background-color:$bet;
}

.flat {
	background-color: $flat;
}

.threebet {
	background-color: $threebet;
}

.flat3bet {
	box-shadow: 0 0 0 4px $flat3bet inset;
}

.fourbet {
	box-shadow: 0 0 0 4px $fourbet inset;
}

.flat4bet {
	box-shadow: 0 0 0 4px $flat4bet inset;
}

.fivebet {
	box-shadow: 0 0 0 4px $fivebet inset;
}

.flat5bet {
	box-shadow: 0 0 0 4px $flat5bet inset;
}

.allin{
	background-color: $allin;
}


@import 'range_info';


// gestion des boutons d'actions
// 
.pannel > #action fieldset {
	display:flex;
	flex-direction: column;
	margin-left:1.3em;
	min-width:10em;
}

#action fieldset input[type="radio"]{ 
	display:none;
}

#action fieldset input[type="radio"] + label{
		padding: 0.5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
		border-radius: 0.3rem;
		color: #fff;
		background-color: #6c757d;
		border: 1px solid transparent;
		transition: all 0.15s ease-in-out;
		margin:.3em;
		text-align:center;
		display:flex;
		box-shadow: 2px 2px 5px black;
}

#action fieldset input[type="radio"] + label span:nth-child(2) { font-size:130%; }

#action fieldset input[type="radio"]:checked + label {
	border:5px solid #ccc;
}

#action #facingrfi input[value="flat"] + label { background-color: $flat; }
#action #facingrfi input[value="threebet"] + label { background-color: $threebet; }
#action #facingrfi input[value="flat4bet"] + label { background-color: $flat4bet; }
#action #facingrfi input[value="fivebet"] + label { background-color: $fivebet; }
#action #facingrfi input[value="allin"] + label { background-color: $allin; }

#action #rfi input[value="bet"] + label { background-color: $bet; }
#action #rfi input[value="flat3bet"] + label { background-color: $flat3bet; }
#action #rfi input[value="fourbet"] + label { background-color: $fourbet; }
#action #rfi input[value="flat5bet"] + label { background-color: $flat5bet; }
#action #rfi input[value="allin"] + label { background-color: $allin; }


