


$bet: #ff7f2aff;
$threebet: purple;
$fourbet:#ff0066ff;
$fivebet:darkred;
$flat:#aaccffff;
$flat3bet: purple;
$flat4bet:#ff0066ff;
$flat5bet: darkred;
$allin:red;
$limp:red;
$limpreraise:red;
$limp-fold:red;
$raisefold:red;


$pair: #CCC;
$offsuit: #999;
$suited: #666;

@import 'range_info';
@import 'button';

#pannel_selection select {
	@include box-shadow(1px 1px 1px);
}
.pannel #action  .disable {
	display:none;
}

#range_manager {
	@include box-shadow(0 19px 38px gray, 0 15px 12px gray);
}

#range_manager td {
	text-align:center;
	color: #FFF;
	padding:.3em;
	font-weight:bold;
}

/* couleurs des cartes non selectionné par type */
.pair {
	background-color: $pair;
}

.suited {
	background-color: $suited;
}

.offsuit {
	background-color: $offsuit;
}


/************************************** 
	Couleurs des actions sur les cartes 
***************************************/

.bet {
	background-color:$bet;
}

.flat {
	background-color: $flat;
}

.threebet {
	background-color: $threebet;
}

.flat3bet {
	@include box-shadow(0 0 0 4px $flat3bet inset);
}

.fourbet {
	@include box-shadow(0 0 0 4px $fourbet inset);
}

.flat4bet {
	@include box-shadow(0 0 0 4px $flat4bet inset);
}

.fivebet {
	@include box-shadow(0 0 0 4px $fivebet inset);
}

.flat5bet {
	@include box-shadow(0 0 0 4px $flat5bet inset);
}

.allin{
	background-color: $allin;
}


