	<fieldset id="facingrfi" class="disable">

		<input type="radio" id="facing_flat" name="sel" value="flat">
			<label for="facing_flat">flat</label>

		<input type="radio" id="facing_threebet" name="sel" value="threebet">
			<label for="facing_threebet">3Bet</label>

		<input type="radio"  id="facing_flat4bet" name="sel" value="flat4bet">
			<label for="facing_flat4bet">Flat vs 4Bet</label>

		<input type="radio"  id="facing_fivebet" name="sel" value="fivebet">
			<label for="facing_fivebet">5Bet</label>


		<input type="radio" id="facing_allin"  name="sel" value="allin">
			<label for="facing_allin">All in</label>


	</fieldset>
