	<fieldset id="rfi">

		<input type="radio" id="action_bet" name="sel" value="bet" checked>
			<label for="action_bet">Open 2.5</label>

		<input type="radio" id="action_flat3bet" name="sel" value="flat3bet">
			<label for="action_flat3bet">Flat vs 3bet</label>

		<input type="radio" id="action_fbet"   name="sel" value="fbet">
			<label for="action_fbet">4Bet</label>

		<input type="radio" id="action_gobroke"   name="sel" value="gobroke">
			<label for="action_gobroke">Go broke</label>

	</fieldset>
