	<fieldset id="rfi">

		<input type="radio" id="action_bet" name="sel" value="bet" checked>
			<label for="action_bet"><span>Open 2.5</span><span></span><span></span></label>

		<input type="radio" id="action_flat3bet" name="sel" value="flat3bet">
			<label for="action_flat3bet"><span>Flat vs 3bet</span><span></span><span></span></label>

		<input type="radio" id="action_fourbet"   name="sel" value="fourbet">
			<label for="action_fourbet"><span>4Bet</span><span></span><span></span></label>

		<input type="radio" id="rfi_flat5bet"   name="sel" value="flat5bet">
			<label for="rfi_flat5bet"><span>Flat vs 5Bet</span><span></span><span></span></label>

		<input type="radio" id="action_gobroke"   name="sel" value="allin">
			<label for="action_gobroke"><span>All in</span><span></span><span></span></label>

	</fieldset>
