	<fieldset id="rfi">

		<input type="radio" id="action_bet" name="sel" value="bet" checked>
			<label for="action_bet">Open 2.5</label>

		<input type="radio" id="action_flat3bet" name="sel" value="flat3bet">
			<label for="action_flat3bet">Flat vs 3bet</label>

		<input type="radio" id="action_fourbet"   name="sel" value="fourbet">
			<label for="action_fbet">4Bet</label>

		<input type="radio" id="rfi_flat5bet"   name="sel" value="flat5bet">
			<label for="rfi_flat5bet">Flat vs 5Bet</label>

		<input type="radio" id="action_gobroke"   name="sel" value="allin">
			<label for="action_gobroke">All in</label>

	</fieldset>
