{% set signe = ["A", "K", "Q", "J", "T", "9", "8", "7", "6", "5", "4", "3", "2"] %}
{# Create the 13x13 hand grid #}


<table id="range_manager">
	{% for l in range(0, 13) %}
		<tr>
			{% for c in range(0, 13) %}
				{% if c == l %}
					{% set cards = signe[c] + signe[c] %}
					<td class="pair" id="{{cards}}">{{cards}}</td>
				{% else %}
					{% if c > l %}
						{% set cards = signe[l] + signe[c] + "s" %}
						<td class="suited" id="{{cards}}">{{cards}}</td>	
					{% else %}
						{% set cards = signe[c] + signe[l] + "o" %}
						<td class="offsuit" id="{{cards}}">{{cards}}</td>	
					{% endif %}
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	
</table>
<br/>
<input type="range" min="0" max="100" value="0" class="range_slider" id="range_slider">

		<div id="range_info">
		</div>

