<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-type" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" media="screen, projection" href="assets/css/screen.css">
	</head>

	<body>

		<main role="main" itemprop="mainContentOfPagte">
			{% block main %}
			{% endblock %}
		</main>

	<script src="assets/js/node_modules/lodash/lodash.js" type="text/javascript"></script>
	<script src="assets/js/range_manager.js" type="text/javascript"></script>
	</body>
</html>
