{% extends 'layout.html' %}
{% block main %}


<h1>THNL Hands Grid</h1>
{% include 'tools.html' %}
<select-range id="rs"></select-range>
<br/>

<div style="display:flex">

	<div>
		{% include 'grid.j2' %}
	</div>

	<aside>
		{% include 'pannel_action.html' %}
	</aside>

</div>

{% endblock %}
