		<optgroup id="p2-early"label="Early Position">
			<option value="utg">UTG</option>
			<option value="utg1">UTG 1</option>
			<option value="utg2">UTG 2</option>
			</optgroup>
		<optgroup id="p2-middle" label="Middle Position">
			<option value="lj">LJ</option>
			<option value="hj">HJ</option>
			</optgroup>
		<optgroup id="p2-late" label="Late Position">
			<option value="co">CO</option>
			<option value="bt">BT</option>
			</optgroup>
		<optgroup id="p2-blind" label="Blind Position">
			<option value="sb">SB</option>
			<option value="bb">BB</option>
		</optgroup>
